.header{
    font-style: italic;
}
.color{
    color: rgb(75, 72, 72);
}
.fontfamily{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
li{
    font-size:larger
}
body {
    color: white; /* Set text color to white */
    background-color: black; /* Set background color to black */
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the image */
}
